
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color:  #000000;

}

.footer h5{
    margin-bottom: 25px;
    font-weight: 600;
}
.icons .fa{
    color:darkgoldenrod;
    cursor: pointer;
    font-size: 50px;
}
.footer p {
    font-size: 20px;

}
.footer .fa{
    color: darkgoldenrod;
    text-align: center;
    align-items: center;
    font-size: clamp(2rem, 8vw - 2rem, 60px);
    padding-left: 15px;
}

.footer p {
    font-size: 20px;
    color:#ffffff;
}