<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Me</title>
</head>
<body>
<section class="contact-box d-flex align-items-center justify-content-center min-vh-100">
    <div class="comment-box">
      <h5 class="aboutmefooter">LET'S CREATE SOMETHING TOGETHER!</h5>
      <form (ngSubmit)="onSubmit()" class="comment-form" id="Contact" method="post">
        <input type="text" name="name" placeholder="Name" [(ngModel)]="name">
        <input type="email" name="email" placeholder="Email Address" [(ngModel)]="email">
        <input type="text" name="phone" placeholder="Phone Number" [(ngModel)]="phone">
        <input type="text" name="subject" placeholder="Subject" [(ngModel)]="subject">
        <textarea placeholder="Send me a message" name="message" [(ngModel)]="message"></textarea>
        <br><br>
        <button type="submit" class="submit-btn span 12">Submit</button>
      </form>
    </div>
  </section>
</body>
</html>