<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Hunter</title>
</head>
<body>
<div class="main">
  <div class="container">
    <div class="game-header">
      <h1 class="text-box-header">Project Hunter</h1>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="image-wrapper">
          <img data-aos="fade-up" class="image1 img-fluid" src="./assets/Images/Widget.png" alt="Screenshot1" />
          <div class="image-info">
            <h2 data-aos="fade-left" class="caption1">Menus</h2>
            <div data-aos="fade-left" data-aos-delay="300" class="description1">
              Project Hunter is an ARPG game that i have been developing that combines rouge like gameplay like diablo and Path of exile with a Souls like game play.
              With fully integrated equipment menu allowing the player to equip and remove items. 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <div class="image-wrapper">
          <img data-aos="fade-up" class="image3 img-fluid" src="./assets/Images/Interaction.png" alt="Screenshot1" />
          <div [innerHTML]="code" class="vscode-iframe image3 img-fluid"></div>

          <div class="image-info">
            <h2 data-aos="fade-right" class="caption2 rtl-text">Interaction System</h2>
            <div data-aos="fade-right" data-aos-delay="300" class="description2 rtl-text">
              The interaction system, comprised of the Interaction Manager and Interactable Manager, 
              is a dynamic, modular component of an Unreal Engine 4 game project designed to facilitate player 
              interactions with the game environment and NPCs.
              The Interaction Manager tracks and prioritizes interactive objects within the player's vicinity, 
              updating in real-time. On the other hand, the Interactable Manager is attached to each interactive object, 
              defining the nature and response of interactions. Together, they provide a versatile tool for creating rich, 
            interactive game environments, driving immersion and intuitiveness in gameplay.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <div class="image-wrapper">
          <img data-aos="fade-up" class="image1 img-fluid" src="./assets/Images/WeaponInfo.png" alt="Screenshot1" />
          <div class="image-info">
            <h2 data-aos="fade-left" class="caption1">Item Management</h2>
            <div data-aos="fade-left" data-aos-delay="300" class="description1">
              Develop a fully customizable weapon system that allows coders to effortlessly incorporate new weapons into the game by simply defining the item's type, mesh, image, and other relevant properties. This versatile solution enhances the efficiency and flexibility of game development while promoting ease of maintenance and scalability.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <div class="image-wrapper">
          <video data-aos="fade-up" class="image1 img-fluid" src="./assets/Images/RandomLoot.mp4" controls></video>
          <div class="image-info">
            <h2 data-aos="fade-right" class="caption2 rtl-text">Randomized Loot</h2>
            <div data-aos="fade-right" data-aos-delay="300" class="description2 rtl-text">
              To fully embody the aspect of an Action Role-Playing Game (ARPG) in this game,
               the loot system generates items randomly using randomly generated numbers. The first number determines the highest rarity level of the item, while subsequent rolls determine the quantity of drops for each item.
                These settings are fully customizable, and even allow for manually specifying which items should be guaranteed to drop
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>